* {
	font-family: "Calibri";
	margin: 0px;
}

main{
	padding-bottom: 50px;
	margin-top: -38px;
	background-color: rgb(248,246,242);
}

body {
	font-size: 12px;
}

.card {
	margin-top:-15px !important;
	padding-left: 15px;
	box-sizing: border-box;
}
.card .card-title {
	margin-top:-10px;
	font-size: 20px !important;
}

.rgbar {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 20px;
}

.rgbar.open {
	background-color: rgb(52,101,7);
}

.rgbar.closed {
	background-color: rgb(165,0,14);
}

header {
	background-color: white;
	width: 100%;
	text-align: center;
}

footer {
	background-color: rgb(180,180,180) !important;
}


nav {
	background-color:rgb(246,247,249) !important;
}

nav ul li a{
	display: inline;
	padding: 20px;
	color:rgb(18,134,242);
}


.sidenav-trigger{
	color: rgb(189,0,4);
}

.logo {
	font-family: "Times New Roman";
	font-weight:bold;
	color: rgb(189,0,4);
	padding-left:20px;
	margin: 0;
	font-size: 22px;
}

#menu {
	width:18px;
	margin-top:22px;
}

.btn {
	background-color: rgb(193,193,193) !important;
}
.row.specials {
	text-align: center;
	margin: 20px;
}
.row.specials a {
	font-size: 12px;
}

/*[type="radio"].with-gap:checked + label::after {
	background-color: red !important;
	border-radius: 50% !important;
	border: 2px solid red !important; 
}

[type="checkbox"].filled-in:checked.#{$color_name} + label::after {
        border: 2px solid $color_value;
        background-color: $color_value;
}*/

form {
	padding: 0 20px;
	margin: 0;
}
h1 {
	padding-top: 25px;
	margin-bottom: 15px !important;
	font-size: 22px !important;
	text-align: center;
}

.icon {
	width:30px;
	margin-right:3px;
}

.cmuMap {
	width: 100%;
	margin: 15px 0;
}
