body {
	font-size: 12px;
}
.card {
	padding-left: 15px;
	box-sizing: border-box;
}
.card .card-title {
	font-size: 20px !important;
}
.rgbar {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 20px;
}
.rgbar.open {
	background-color: green;
}
.rgbar.closed {
	background-color: red;
}
header, footer {
	background-color: rgb(248,246,242);
	/*height: 100px;*/
	min-height: 100px;
	width: 100%;
	text-align: center;
}
.navbar {
	padding: 0 20px 20px 20px !important;
	margin: 0;
}
.navbar li {
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.2em;
}
.logo {
	padding: 20px;
	margin: 0;
	font-size: 28px;
}
.copyright {
	font-size: 12px;
	padding-top: 60px;
}
.btn {
	background-color: lightgrey !important;
}
.row.specials {
	text-align: center;
	margin: 20px;
}
.row.specials a {
	font-size: 12px;
}

/*[type="radio"].with-gap:checked + label::after {
	background-color: red !important;
	border-radius: 50% !important;
	border: 2px solid red !important; 
}

[type="checkbox"].filled-in:checked.#{$color_name} + label::after {
        border: 2px solid $color_value;
        background-color: $color_value;
}*/

form {
	padding: 0 20px;
	margin: 0;
}
h1 {
	font-size: 24px !important;
	text-align: center;
}
.cmuMap {
	width: 100%;
	margin: 20px 0;
}











