<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/styles2.css">
    <!-- Compiled and minified CSS for Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">   
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">         
    <!-- Linked scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/locations.js"></script>
	<script src="js/index.js"></script>

    <title>CMU Dining Locations</title>
</head>


<body>

	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper">
			      <a href="https://www.cmu.edu/" class="logo left">Carnegie Mellon University</a>
			      <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><img id="menu" src="images/menu.jpg"></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="index.html">Locations</a></li>
				<li><a href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=listConceptsGrid">Hours of Operations</a></li>
			        <li><a href="https://get.cbord.com/cmu/full/prelogin.php">Get Funds</a></li>
			        <li><a href="https://app.mynutritioncalculator.net/cmu/">Nutrition Calculator</a></li>
			      </ul>
			    </div>
	  		</nav>
  		</div>
	  	<ul class="sidenav" id="mobile-demo">
		    <li><a href="index.html">Locations</a></li>
			<li><a href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=listConceptsGrid">Hours of Operations</a></li>
			<li><a href="https://get.cbord.com/cmu/full/prelogin.php">Get Funds</a></li>
			<li><a href="https://app.mynutritioncalculator.net/cmu/">Nutrition Calculator</a></li>
	  	</ul>
	</header>
	
	<main>
	<h1>Dining Locations</h1>

	<div class="container content map">
		<div class="col s12">
			<img class = "cmuMap" src="images/map.jpg" alt="" usemap="#Map" />
				<map name="Map" id="Map">
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=123" shape="circle" coords="397, 438, 16" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=115" shape="circle" coords="514, 362, 15" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=93" shape="circle" coords="413, 332, 17" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=110" shape="circle" coords="472, 383, 16" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=94" shape="circle" coords="491, 432, 16" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=104" shape="circle" coords="608, 480, 16" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=95" shape="circle" coords="650, 475, 15" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=84" shape="circle" coords="679, 423, 14" />
				    <area alt="" title="" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=conceptDetails&conceptId=92" shape="circle" coords="736, 435, 13" />
				</map>
        </div>	
	</div>

	<div class="container content list">
		<div class="row specials">
			<a class="btn col s6" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=specials">Today's Specials</a>
			<a class="btn col s6" href="https://apps.studentaffairs.cmu.edu/dining/conceptinfo/?page=soups">Today's Soups</a>
		</div>
		<!-- <p>
			<label>
				<input type="checkbox" />
				<span>Baker Hall</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Cohon Center</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>College of Fine Arts</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Gates Hillman Complex</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>College of Fine Arts</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Hamburg</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Hunt Library</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Mellon Institute</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Morewood Gardens</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Newell-Simon Atrium</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Posner Hall</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Resnik House</span>
			</label>
	    </p>
	    <p>
			<label>
				<input type="checkbox" />
				<span>Wean Hall</span>
			</label>
	    </p> -->

		<form action="#">
			<p>
		      <label>
		        <input class="with-gap" name="group1" type="radio" checked 
		        v-on:click="filter_setting = 'alphabetical'"/>
		        <span>Alphabetical</span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input class="with-gap" name="group1" type="radio"
		        v-on:click="filter_setting = 'open'"/>
		        <span>Open Now</span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input class="with-gap" name="group1" type="radio" 
		        v-on:click="filter_setting = 'order'"/>
		        <span>Order Online</span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input class="with-gap" name="group1" type="radio" 
		        v-on:click="filter_setting = 'on campus'"/>
		        <span>On-Campus Locations</span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input class="with-gap" name="group1" type="radio"  
		        v-on:click="filter_setting = 'off campus'"/>
		        <span>Off-Campus Locations</span>
		      </label>
		    </p>
	  	</form>

	  	<form class="col s12">
	      <div class="row">
	        <div class="input-field col s12 m6 l4 xl4">
	          <!-- <i class="material-icons prefix">account_circle</i> -->
	          <input id="icon_prefix" type="text" class="validate"
	          v-model="search_term">
	          <label for="icon_prefix">Search</label>
	        </div>
	      </div>
	    </form>        

		<ul class="location-list">
			<li v-for="(location, index) in processLocations()">
				<a :href="location.url" target="_blank">
					<div class="row">
					    <div class="col s12 m6 l4 xl4">
							<div class="card white darken-1">
								<div
								v-bind:class="{
									'rgbar':true,
									'open': location.open,
									'closed': !location.open
								}">
							    </div>
								<div class="card-content black-text">
								  	<span class="card-title">{{ location.name }}</span>
								  	<p>
								  		{{ location.location }}<br>
								  		{{ location.hours }}<br><br>
								  		{{ location.desc }}
								  	</p>
								</div>
							</div>
					    </div>
				  	</div>
				</a>
			</li>
		</ul>        

	</div>
	</main>

	<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s6">
            <h5 class="white-text">Contact Us</h5>
            <p class="grey-text text-lighten-4">Residence on Fifth<br>4700 Fifth Avenue<br>Pittsburgh, PA 15213<br>(412) 268-2139<br><a href="mailto:dining@andrew.cmu.edu">dining@andrew.cmu.edu</a></p>
          </div>
          <div class="col l4 offset-l2 s6">
            <h5 class="white-text">Links</h5>
              <a href="https://www.facebook.com/cmudining"><img class="icon" src="images/facebook.jpg"></a>
              <a href="https://www.instagram.com/cmudining/"><img class="icon" src="images/camera.jpg"></a>
              <a href="https://twitter.com/diningatcmu"><img class="icon" src="images/twitter.jpg"></a>
              <a href="https://cmustudentaffairs.wordpress.com/category/dining-services/"><img class="icon" src="images/web.jpg"></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        &copy; Mimi, Roxanne, Malik
        </div>
      </div>
    </footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="jquery/jquery.min.js"></script>
	<script src="jquery/jquery.rwdImageMaps.min.js"></script>
	<script>
	$(document).ready(function(e) {
		$('img[usemap]').rwdImageMaps();});</script>
    
	<!-- Compiled and minified JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>


<!-- decrease white space in cards -->
<!-- change colors and style the headers and stuff -->
<!-- hover interactivity on map, popup?, 3d option on image, pins, message -->
<!-- background colors to divide sections of page -->
<!-- fix specials and soups buttons -->
<!-- make header fixed? -->




